# Data Science tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- Java
- Julia
- R
- Python
- SQL

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL

Some of the commonly used libraries used by Data Scientists include:
1. Panda
2. Numpy
3. Scikit
4.

|Data Science Tools|
|------------------|
|Jupyter Notebook  |
| RStudio          |
| Google Colab     |

### Below are a few examples of evaluating arithmetic expressions in Python

In [3]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [4]:
# This will convert 200 minutes to hours by dividing by 60
200/60

3.3333333333333335

## Author
   Abdalaziz Farrag